extends socketIoLayout

block content
  div.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
    header.masthead.mb-auto
      div.inner
        h3.masthead-brand Cover
        nav.nav.nav-masthead.justify-content-center
          a.nav-link.active(href='#') Home
          a.nav-link(href='#') Features
          a.nav-link(href='#') Contact
    main.inner.cover
      h1.cover-heading Cover your page
      p.lead=field_1 
      p.lead=field_2
      p.lead
      form(id="sendForm") 
        div.row.form-group
          div.col
            input.form-control(type="text", name="sendName", id="sendName", placeholder="Your name")
        div.row.form-group
          div.col
            input.form-control(type="text", name="sendText", id="sendText", placeholder="Send Message...")
          div.col
            input.form-control.btn.btn-secondary(type="submit", value="Send", name="sendButton", id="sendButton")
      ul.list-group(id="messages")
    footer.mastfoot.mt-auto
      div.inner
        p Footer Text with 
          a(href='#') a link
block pageSpecificJs
  script.
    var form = document.getElementById('sendForm');
    var message = document.getElementById('sendText');
    var nameElement = document.getElementById('sendName');

    form.addEventListener('submit', function(e) {
      e.preventDefault();
      if (message.value) {
        var messageObject = {'name':'Hardcoded Name', 'message':message.value};
        socket.emit('chat message', messageObject);
        message.value = '';
      }
    });

    var messages = document.getElementById('messages');
    socket.on('chat message', function(msg) {
      var item = document.createElement('li');
      item.classList.add('list-group-item');
      item.textContent = msg.name + ": " + msg.message;
      messages.appendChild(item);
      window.scrollTo(0, document.body.scrollHeight);
    });